@use './variables' as v;



// Font Mixins

@mixin light-paragraph-font {
    color: v.$light;
    font-size: 18px;
    @include kulim-park-regular; 
}

@mixin dark-paragraph-font {
    color: v.$dark;
    font-size: 18px;
    @include kulim-park-regular;
  }

@mixin light-subtitle-font {
    color: v.$light;
    font-size: 24px;
    @include battambang-regular;
}

@mixin dark-subtitle-font {
    color: v.$light;
    font-size: 24px;
    @include battambang-regular;
}

@mixin kulim-park-regular {
    font-family: "Kulim Park", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin kulim-park-thin {
    font-family: "Kulim Park", sans-serif;
    font-weight: 200;
    font-style: normal;
}

@mixin battambang-regular {
    font-family: "Battambang", system-ui;
    font-weight: 400;
    font-style: normal;
}

@mixin battambang-bold {
    font-family: "Battambang", system-ui;
    font-weight: 700;
    font-style: normal;
}

@mixin kulim-park-bold {
    font-family: "Kulim Park", sans-serif;
    font-weight: 700;
    font-style: normal;
}



//
// Flex Styles
//

@mixin flex-center {
    justify-content: center;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    flex-flow: row nowrap;
}

@mixin flex-col {
    display: flex;
    flex-flow: column nowrap;
}



// Button Styles

@mixin btn {
    text-decoration: none;
    text-align: center;
    padding: 15px 25px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

@mixin cta-btn-styles {
    background-color: v.$cta-btn-color;
    @include btn;
    @include light-paragraph-font;
  
    &:hover {
  background-color: rgb(
    calc((red(v.$cta-btn-color) + v.$cta-hover-color-changer) * 1),
    calc((green(v.$cta-btn-color) + v.$cta-hover-color-changer) * 1),
    calc((blue(v.$cta-btn-color) + v.$cta-hover-color-changer) * 1)
  )
  }
  }
  