//
// Color Variables
//

$dark: #1C2B35;
$light: #ffffff;
$red: #ff0035;
$light-blue: #47e3ff;
$blue: #2081c3;



//
// UI Styling
//

$cta-btn-color: $blue;
$cta-hover-color-changer: 10; // -100 to 100 (10 is 10% brighter)