
<div class="hero-container">
    <video autoplay muted loop>
        <source src="/tetons.mp4" type="video/mp4" alt="video of tetons">
      </video>
    <div class="banner">
        <div class="banner-column">
            <div class="hero-logo">
                <img src="/line-logo.png" alt="Tetons Software Studios Logo">
            </div>
            <div class="hero-tagline">
                <h1>Monumental Digital Landscapes</h1>
            </div>  
        </div>
    </div>
</div>
<div class="mini-banner">
    <div class="mini-banner-column">
        <div class="mini-hero-tagline">
            <h1>Monumental Digital Landscapes</h1>
        </div>
    </div>
</div>
