
<div class="hero-container">
    <div class="main-bg-image">
        <img src="/tetons-4684532.jpg" alt="Tetons Software Studios Logo">
    </div>
    <div class="banner">
        <div class="banner-column">
            <div class="hero-logo">
                <img src="/line-logo.png" alt="Tetons Software Studios Logo">
            </div>
            <div class="hero-tagline">
                <h1>Monumental Digital Experiences</h1>
            </div>  
        </div>
    </div>
</div>
<div class="mini-banner">
    <div class="mini-banner-column">
        <div class="mini-hero-tagline">
            <h1>Monumental Digital Experiences</h1>
        </div>
    </div>
</div>
