<div class="hero-container">
    <div class="banner">
        <div class="banner-column">
            <div class="hero-logo">
                <img src="/assets/line-logo.png" alt="Tetons Software Studios Logo">
            </div>
            <div class="hero-tagline">
                <h1>Monumental Digital Landscapes</h1>
            </div>
        </div>
    </div>
</div>
<div class="mini-banner">
    <div class="mini-banner-column">
        <div class="mini-hero-tagline">
            <h1>Monumental Digital Landscapes</h1>
        </div>
    </div>
</div>
