@use '../app.component.scss';
@use '../styles/variables' as v;
@use '../styles/mixins' as mix;



// General Declarations

h1 {
    margin: 0px;
    color: v.$light;
    letter-spacing: 6px;
    text-align: center;
    @include mix.kulim-park-thin;
}



// Container

.hero-container {
    background-image: url('./teton-01-midjourney-jan-2024.png');
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    border-bottom: 2px solid v.$dark;
    @include mix.flex-center;
    @include mix.flex-col;
}



// Main Banner

.banner, .banner div {
    @include mix.flex-center;  
}

.banner {
    width: 100%;
    padding: 48px;
    height: auto;
    background-color: v.$dark-opacity;
    @include mix.flex-row;
}

.banner-column {
    width: 80%;
    max-width: v.$max-container-width;
    @include mix.flex-col;
}

.hero-logo {
    height: 66%;
    margin-bottom: 30px;
    @include mix.flex-row;
}

.hero-logo img {
    height: auto;
    width: 100%;
}

.hero-tagline {
    height: 34%;
}

.hero-tagline h1 {
    font-size: clamp(36px, 3vw, 72px);
}



// Arrows

.arrows {
    width: 60px;
    height: 72px;
    position:absolute;
    left: 50%;
    margin-left: -30px;
  }

.arrows path {
    stroke: v.$light-blue;
    fill: transparent;
    stroke-width: 3px;  
    animation: arrow 4s infinite;
    -webkit-animation: arrow 3s infinite; 
  }
  
@keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
@-webkit-keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s;
  }
  
.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s;
  }
  
.arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s;
  }
  
  

// Mini Banner

.mini-banner, .mini-banner div {
    @include mix.flex-center; 
    width: 100%; 
}

.mini-banner {
    padding: 36px;
    height: auto;
    background-color: v.$dark;
    @include mix.flex-row;
}

.mini-banner-column {
    @include mix.flex-col;
}

.mini-hero-tagline {
    height: 100%;
}

.mini-hero-tagline h1 {
    font-size: 24px;
}



// Mobile Styling

@media (max-width: v.$mobile-max) {
    .hero-container {
        height: 100vw;
        background-size: cover; 
    }

    .banner {
        padding: 18px 18px 24px 18px;
    }

    .hero-tagline {
        display: none;
    }

    .banner-column {
        width: 100%;
        @include mix.flex-col;
    }
    
    .hero-logo {
        height: 100%;
        margin-bottom: 0px;
        @include mix.flex-row;
    }

    .arrows {
        bottom: 5%;
      }

    .mini-banner {
       padding: 24px;
    }
}


// Tablet Styling

@media (min-width: v.$tablet-min) and (max-width: v.$tablet-max) {
    .hero-container {
        height: 400px;
        background-size: cover;
        background-attachment: fixed;
        background-position-y: 1vw;
    }

    .banner {
        display: none;
    }

    .mini-hero-tagline h1 {
        font-size: 36px;
    }

    .arrows {
        bottom: 10%;
      }
}



// Desktop Styling

@media (min-width: v.$desktop-min) {
    .mini-banner {
        display: none;
    }

    .hero-container {
        height: 675px;
        background-size: cover;
        background-attachment: fixed;
        background-position-y: -10vw;
    }

    .arrows {
        bottom: 14%;
      }
}