<div class="nav-bar">
  <div class="nav-container">
    <div class="logo-container-square">
      <img src="/assets/logo-only-icon.png" alt="Tetons Software Studios Logo">
    </div>
    <div class="logo-container-line">
      <img src="/assets/line-logo.png" alt="Tetons Software Studios Logo">
    </div>
    <div class="nav-items-container">
      <div class="menu-section-container">
        <div class="menu-items-container">
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Explore</a>
            <a href="#">Contact</a>
        </div>
      </div>
      <div class="cta-button-container">
        <a class="cta-btn" href="#free-call">
          Free Digital Strategy Call
        </a>
      </div>
    </div>
  </div>
</div>

