<div class="section-container">
    <div class="section-column">

        <div class="section-title-container">
            <h2>Gallery</h2>
        </div>

        <div class="gallery-container">
            <div class="gallery-row-container">
                <div id="websites" class="slider-container">
                    <h3>Websites</h3>
                    <app-gallery-swiper [images]="webImages"></app-gallery-swiper>
                </div>
                <div id="ai-gen" class="slider-container">
                    <h3>AI Gen</h3>
                    <app-gallery-swiper [images]="aiImages"></app-gallery-swiper>
                </div>
                
            </div>
            <div class="gallery-row-container">
                <div id="photos" class="slider-container">
                    <h3>Photography</h3>
                    <app-gallery-swiper [images]="photoImages"></app-gallery-swiper>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cta-bar">
    <div class="cta-text-container">
        <p class="cta-text">
            Ready to Build Digital Landscapes?
        </p>
    </div>
    <div class="cta-button-container">
        <a class="cta-btn" href="#free-call">
          Free Digital Strategy Call
        </a>
    </div>
</div>