@use '../app.component.scss';
@use '../styles/variables' as v;
@use '../styles/mixins' as mix;


.sub-title-light-bg {
  width: 100%;
  @include mix.flex-row;
  justify-content: space-between;
}

.sub-title-light-bg h4 {
  width: 100%;
  @include mix.flex-center;
}



// Gallery Containers

.gallery-container {
    width: 100%; 
    height: auto; 
    background-color: white;
    padding: 48px;
    @include mix.flex-row;
    @include mix.flex-center;
}

.gallery-column {
  width: 80%;
  max-width: v.$max-container-width;
  @include mix.flex-center;
  @include mix.flex-col;
}



.gallery-preview {
  width: 100%;
  height: auto;
  margin: 50px 0px;
  @include mix.flex-center;
  @include mix.flex-col;
  
}

.slide-row-container {
  width: 100%;
  @include mix.flex-col;
  @include mix.flex-center;
  
}

.slider-container {
  width: 100%;
  margin: 100px 0px;
  @include mix.flex-center;
  @include mix.flex-col;
  
}


// Gallery Title Styles

h2 {
  margin: 0px;
  @include mix.dark-subtitle-font;
}

h3 {
  margin-bottom: 50px;
  @include mix.dark-subtitle-font;
  font-size: 36px !important;
  text-align: center;
}


@media (max-width: v.$mobile-max) {
  .gallery-column {
    width: 100%;
  }
}

@media (min-width: v.$tablet-min) and (max-width: v.$tablet-max) {
  
}

@media (min-width: v.$desktop-min) {

}




// // CTA Button Styles

// .cta-button-container {
//   width: 33%;
//   @include mix.flex-col;
//   @include mix.flex-center;
// }

// .cta-btn {
//   @include mix.cta-btn-styles;
// }
