<div class="gallery-container">
    <div class="gallery-column">
        <div class="section-title-light-bg">
            <h2>Hello There</h2>
        </div>
        <div class="gallery-preview">
            <div class="gallery-row">
                <div class="gallery-item">
                    <a href="#">
                        <img src="#" alt="Picture of work We've done">
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="#">
                        <img src="#" alt="Picture of work We've done">
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="#">
                        <img src="#" alt="Picture of work We've done">
                    </a>
                </div>
            </div>
            <div class="gallery-row">
                <div class="gallery-item">
                    <a href="#">
                        <img src="#" alt="Picture of work We've done">
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="#">
                        <img src="#" alt="Picture of work We've done">
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="#">
                        <img src="#" alt="Picture of work We've done">
                    </a>
                </div>
            </div>
            
        </div>
        <div class="cta-button-container">
            <a class="cta-btn" href="#free-call">
                Explore Gallery
              </a>
        </div>
    </div>
</div>