@use '../app.component.scss';
@use '../styles/variables' as v;
@use '../styles/mixins' as mix;

.section-container {
    display: flex;
    height: 100%;
    align-items: stretch;
    background-color: #444;
    padding: 0px;
}

.section-column {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0px;
}

.section-minor {
    background-color: #ffffff;
    width: 40%;
    height: 700px;
    z-index: 2;
}

.section-major {
    width: 60%;
    height: 702px;
    background-color: #444;
    background-image: url('/gallery-images/ai-line-art-tetons-01.png');
    background-size:cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.calendly-container {
    width: 100%;
    padding: 0px;
}

.calendly-inline-widget {}