<div class="section-container">
    <div class="section-column">

        <div class="section-title-container">
            <h2>Schedule Call</h2>
        </div>

        <div class="schedule-call-container">
            <div class="calendly-container">
                <!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/alexowensemail/30min?text_color=1c2b35&primary_color=2081c3" data-auto-load="false" style="min-width:320px;height:700px;"></div>
<!-- Calendly inline widget end -->


            </div>
        </div>
    </div>
</div>