@use 'sass:color';
@use './styles/variables' as v;
@use './styles/mixins' as mix;


// Element Declarations

body {
    margin: 0px;
}

div {
    box-sizing: border-box; 
}

a {
    text-decoration: none;
}


// Other Main Declarations

.screen-container, .main-container {
    width: 100%;
    
}