
    <div class="screen-container">
        <div class="main-container">
          <app-nav></app-nav>
            <div class="hero-container">
            </div>
            <div class="gallery-container">

            </div>
            <div class="services-container">

            </div>
            <div class="walkthrough-container">

            </div>
            <div class="schedule-call-container">

            </div>
            <div class="footer-container">
                
            </div>
        </div>
    </div>  