
    <div class="screen-container">
        <div class="main-container">
          <app-nav></app-nav>
          <app-hero></app-hero>
            <div class="gallery-container" style="width: 100%; height: 400px; background-color: white;">

            </div>
            <div class="services-container">

            </div>
            <div class="walkthrough-container">

            </div>
            <div class="schedule-call-container">

            </div>
            <div class="footer-container">
                
            </div>
        </div>
    </div>  