
    <div class="screen-container">
        <div class="main-container">
          <app-nav></app-nav>
          <app-hero></app-hero>
          <app-gallery></app-gallery>
          <app-lightbox-gallery></app-lightbox-gallery>
          <app-appointment-calendar></app-appointment-calendar>
            <div class="services-container">

            </div>
            <div class="walkthrough-container">

            </div>
            <div class="footer-container">
                
            </div>
        </div>
    </div>  